# libs
libs/tensorflow/lib
libs/tensorflow/include
libs/tensorflow/LICENSE
libs/tensorflow/THIRD_PARTY_TF_C_LICENSES

# examples
example_*/bin/*
!example_*/bin/data/
example_*/bin/data/model*
!example_*/bin/data/.gitkeep
example_*/obj
example_*/python/*datasets*
example_*/python/__pycache__/
example_*/python/src/__pycache__/

example_*/Project.xcconfig
example_*/*.xcodeproj
example_*/openFrameworks-Info.plist

example_*/bin/data/*.jpg
example_*/bin/data/*.png
example_*/bin/data/*.mp4
example_*/bin/data/*.mov

# temp
scripts/libtensorflow*

# IDE
.idea
.vscode

#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*
!*/bin/data/

# for bin folder in root
/bin/*
!/bin/data/

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout
*.cbTemp

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite
