# libs
libs/tensorflow2/lib
libs/tensorflow2/include


# examples
example_*/bin/*
!example_*/bin/data/
example_*/bin/data/model*
!example_*/bin/data/.gitkeep
example_*/obj
example_*/python/*datasets*
example_*/python/__pycache__/
example_*/python/src/__pycache__/

# ide folders
.idea
.DS_Store
